body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.title-header {
    color: white;
}

.container {
    width: 100%;
}

input {
}

.col-sm-10 {
    width: 50%;
    display: inline;
}